.ds4 .stick {
    position: absolute;
    background: url(https://i.imgur.com/HMM8KTd.png);
    height: 94px;
    width: 94px;
}

.xbox .stick {
    position: absolute;
    background: url(xbox-assets/https://imgur.com/FK64vDg.png);
    background-position: -85px 0;
    height: 83px;
    width: 83px;
}

.xbox .button {
    position: absolute;
    background: url(https://imgur.com/mqPbTqy.png);
    width: 48px;
    height: 48px;
}
